*.agdai
*.aux
*.dump-hi
*.hi
*.hie
*.hie-boot
*.imports
*.lagda.out
*.lagda.pdf
*.log
*.o
*.project.local
*.ptb
*.tmp
*.tmp.*
*~
.*.sw[a-p]
.*.vim
.sw[a-p]
.\#*
\#*\#
/**/MAlonzo

*.sublime-workspace
